<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar entradas</title>
  <link rel="stylesheet" href="/css/Sobremesa/listarSobremesa.css">
</head>
<body>
<div class="cima">
      <h1>Cardapio de Bebidas</h1>
    <a href="/Bebida/cadastrar" class="cadastrar">Adicionar ao Cardápio</a>
</div>

  <div class="formato">
    {{#each bebidas}}
    <div class="card">

      <h3><a href="/Bebida/{{id}}">{{nome}}</a></h3>
      <p><b>Ingredientes:</b> {{ingredientes}}</p>
      <p><b>Preço:</b> R$ {{preco}}</p>
 

      <div class="actions">
        <a href="/Bebida/{{id}}/editar"><button class="editar">Editar</button></a>
        <form action="/Bebida/{{id}}/deletar" method="POST" style="display:inline;">
          <button type="submit" class="sdeletar">Deletar</button>
        </form>   
      </div>
    </div>
    {{/each}}
</div>
<a href="/cardapio" class="voltar">❮ Voltar</a>

<div class="custom-shape-divider-bottom-1764744642">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

<script>
  let deletarBt = document.querySelectorAll(".sdeletar");
    deletarBt.forEach(botao =>{
      botao.addEventListener("click", function (e){
        if(!confirm("Tem certeza que quer deletar essa entrada?")){
          e.preventDefault();
        }
      });
    });
</script>
</body>
</html>








